<mat-toolbar class="header-sm">
    <span class="spacer"></span>
    <div class="top-menu">
        <span>
            <i class="fa fa-phone" aria-hedden="true" style="font-size: 20px;"></i>:(+91) 7013536324
        </span>
        <span>About Us</span>
        <span>Contact Us</span>
        <span><button mat-stroked-button color="warn">Login</button></span>
    </div>
</mat-toolbar>
<mat-toolbar class="header bg-danger">
    <span class="logo">
        <img src="../../../assets/images/mean.png" alt="mean Logos" />
    </span>
    <nav class="navbar animate__animated animate__bounceInLeft">
        <a>Home</a>
        <a>Men</a>
        <a>Women</a>
        <a>Kids</a>
    </nav>
    <span class="spacer"></span>
    <span>
        <mat-icon type="button"
            style="font-size: 30px; margin-right:2rem; padding-top: 10px; color: azure;" matBadge="?" matBadgeColor="accent" matBadgeOverlap="false">add_shopping_cart
        </mat-icon>
    </span>
</mat-toolbar>