<div class="d-flex">
    <mat-card class="w-25 fs-4 text-center" style="height: 90px">
        <mat-card-content>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Search</mat-label>
                <input matInput [(ngModel)]="searchKey" #search (keyup)="applyFilter(search.value)">
                @if(searchKey){
                    <button matSuffix mat-icon-button (click)="onSearchClear()">
                        <mat-icon>close</mat-icon>
                    </button>
                }
            </mat-form-field>
        </mat-card-content>
    </mat-card>
    <button mat-mini-fab class="mx-4 my-4" color="warn" matTooltip="Add New Product">
        <mat-icon>add</mat-icon>
    </button>
</div>

<app-product-card [products] = "menProducts$ | async | slice : paginate.pagIndex * paginate.pageSize : (paginate.pageIndex + 1) * paginate.pageSize "></app-product-card>

<mat-paginator #paginate 
                [length]="(menProducts$ | async)?.length" 
                [pageSize]="4"
                [pageSizeOptions]="[4,8,20,40]"
                showFirstLastButtons
                class="bg-light p-3"></mat-paginator>